# EditorConfig is awesome: https://EditorConfig.org

# Top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = crlf
insert_final_newline = false
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[App.js]
indent_size = 2

[*.svg]
indent_size = 2
end_of_line = lf

[{package.json,package-lock.json}]
end_of_line = lf

[{.editorconfig,metro.config.js}]
insert_final_newline = true

[{metro.config.js,babel.config.js,src/**/index.js}]
indent_size = 2
end_of_line = lf
insert_final_newline = true
